<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="pencil" md="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cards</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Swiper برای کارت‌ها -->
  <app-swiper [items]="cards" [slidesPerView]="0.7" [spaceBetween]="8" [pagination]="true" [paginationType]="'bullets'"
    [navigation]="false">

    <ng-template let-item let-index="index">
      <app-bank-card [bankName]="item.bankName" [cardNumber]="item.cardNumber" [holderName]="item.holderName"
        [expiry]="item.expiry" [brand]="item.brand">
      </app-bank-card>
    </ng-template>

  </app-swiper>
  <app-area-chart></app-area-chart>


</ion-content>